<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Arduino Power Meter</title>
	<script src='/js/jquery-2.2.3.min.js'></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/script.js"></script>
	<link rel="stylesheet" href="/css/style.css" type="text/css">

	<link rel="stylesheet" href="/css/bootstrap.min.css">

	<!-- Latest compiled JavaScript -->
	<script src="/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="page-header" align="center">
		<h1>Power Readings <small>Power, Time, Cost</small></h1>
	</div>
	<div>
		<h3>Output Readings</h3>
		<ul id="data-list" class="list-group"></ul>

	</div>
	
</body>
</html>